.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

__pycache__/
*.py[cod]
.venv/
.venv*/
venv/

.git_backup/

node_modules/
.expo/
dist/
build/

android/.gradle/

Mobile/.vscode/

Mobile/.vscode/
